<div class="swatch">
    <select ng-options="o for o in $ctrl.options"
        ng-model="$ctrl.option"
        ng-change="$ctrl.changeColour()"
        class="swatch-selector"
    ></select>
    <span>Scale: {{$ctrl.scale}}</span>
    <div ng-repeat="(k, v) in $ctrl.data">
        <div ng-if="$root.isArray(v)">
            <h3>{{::k}}</h3>
            <div ng-repeat="shade in v" ng-style="$ctrl.style(shade)" class="swatch-item">
                {{::shade.name}}
                <div class="pull-right">{{::shade.hex}}</div>
            </div>
        </div>
    </div>
</div>
